{% extends 'layout.html' %}


{% block scripts %}
  {{ super() }}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src='{{ url_for("static", filename = "js/index.js") }}'></script>
{% endblock %}

{% block page_content %}
  For statistics please visit <a target=_blank"" href="https://search-bigdata-analytics-h2gqq7kopvhhi5rjzjpad6xe7e.us-east-2.es.amazonaws.com/_plugin/kibana/goto/35b88c2dda711f4a90da2842e366f7c2">Kibana</a>
  <br>
  Wanna join The Matrix? Download an <a target="_blank" href="https://drive.google.com/open?id=1sV4QLWo096_q9YNn5FNJP6Isji4OMNKe">APK</a>
  <hr>
  <div class="list-group">
    <h2>Users online</h2>
    <div id="usersOnline"></div>
  </div>
{% endblock %}
