{% extends 'layout.html' %}


{% block scripts %}
  {{ super() }}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src='{{ url_for("static", filename = "js/index.js") }}'></script>
{% endblock %}

{% block page_content %}
  For statistics please visit <a target="_blank" href="https://search-bigdata-analytics-h2gqq7kopvhhi5rjzjpad6xe7e.us-east-2.es.amazonaws.com/_plugin/kibana/app/kibana#/dashboard/a043e9b0-0479-11e9-bc9b-4f88b909f3c1?_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A216'%2Cdisplay%3A'5%20seconds'%2Cpause%3A!f%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3Anow-15m%2Cmode%3Aquick%2Cto%3Anow))">Kibana</a>
  <br>
  Wanna join The Matrix? Download an <a target="_blank" href="https://drive.google.com/open?id=1sV4QLWo096_q9YNn5FNJP6Isji4OMNKe">APK</a>
  <hr>
  <div class="list-group">
    <h2>Users online</h2>
    <div id="usersOnline"></div>
  </div>
{% endblock %}
